@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*
{
    font-family: 'Inter', sans-serif !important;
    box-sizing: border-box;
}
.story
{
    display: flex;
    height: 180px;
    padding: 1rem;
}
.story img{
    width: 39%;
    height: 100%;
}
.story-right
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.story-right > h3{
    font-weight: 700;
    font-size: 19px;
}
.bold-section
{
    font-weight: 800;
    font-size: 42px;
    line-height: normal;
}
.blue
{
    background-color: hsl(240, 100%, 5%);
    padding: 24px;
}
.blue-section
{
    color: hsl(36, 100%, 99%);
    margin-top: 12px;
    margin-bottom: 12px;
    
}
/* .blue-section:nth-of-type(2), .blue-section:nth-of-type(1)
{
    border-bottom: 1px solid  hsl(36, 100%, 99%);
} */
.blue-section h4
{
    font-weight: 700;
}